{% extends 'base.html.twig' %}

{% block title %}Edit AnalysisType{% endblock %}

{% block body %}
    <h1>Edit AnalysisType</h1>

    {{ include('analysis_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('analysis_type_index') }}">back to list</a>

    {{ include('analysis_type/_delete_form.html.twig') }}
{% endblock %}
