{% extends './users/index.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
    <h1>Users List</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </thead>
        </tbody>
    </table>
{% endblock %}