<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, ample admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, material design, material dashboard bootstrap 4 dashboard template">
		<meta name="description" content="Ample is powerful and clean admin dashboard template, inpired from Google's Material Design">
		<meta name="robots" content="noindex,nofollow">
		<title>
			{% block title %}E-MedicalLaboratory
			{% endblock %}
		</title>
		<link
		rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/"/>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
		{% block stylesheets %}

			<!-- chartist CSS -->
			<link href="https://ampleadmin.wrappixel.com/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
			<link
			href="https://ampleadmin.wrappixel.com/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
			<!--c3 CSS -->
			<link href="https://ampleadmin.wrappixel.com/assets/libs/morris.js/morris.css" rel="stylesheet">
			<link
			href="https://ampleadmin.wrappixel.com/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
			<!-- Custom CSS -->
			<link href="https://ampleadmin.wrappixel.com/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
			<link
			href="https://ampleadmin.wrappixel.com/assets/extra-libs/calendar/calendar.css" rel="stylesheet"/>
			<!-- needed css -->
			<link href="https://ampleadmin.wrappixel.com/dist/css/style.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
			    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		{% endblock %}
	</head>
	<body>

		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
			<div class="preloader"> <div class="lds-ripple">
				<div class="lds-pos"></div>
				<div class="lds-pos"></div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
			<div
			id="main-wrapper"> <!-- ============================================================== -->
			<div id="main-wrapper">

				{{  include ("./menu/topbar.html.twig") }}

				{{  include ("./menu/sidebar.html.twig") }}
				{{  include ("./menu/assidebar.html.twig") }}

				<!-- body -->

				<div class="page-wrapper">
					<div class="page-breadcrumb border-bottom">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
								<div class="page-content container-fluid">
                {% block body %}{% endblock %}
                </div>
							</div>
						</div>
					</div>
					{{  include ("./menu/footer.html.twig") }}

					{% block javascripts %}
					<!-- All Jquery -->
					<!-- ============================================================== --><script src="https://ampleadmin.wrappixel.com/assets/libs/jquery/dist/jquery.min.js"> </script>
					<!-- Bootstrap tether Core JavaScript -->
					<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
					<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/popper.js/dist/umd/popper.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
					<!-- apps -->
					<script src="https://ampleadmin.wrappixel.com/dist/js/app.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/dist/js/app.init.minimal.js"></script>
					<script src="https://ampleadmin.wrappixel.com/dist/js/app-style-switcher.js"></script>
					<!-- slimscrollbar scrollbar JavaScript -->
					<script src="https://ampleadmin.wrappixel.com/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/extra-libs/sparkline/sparkline.js"></script>
					<!--Wave Effects -->
					<script src="https://ampleadmin.wrappixel.com/dist/js/waves.js"></script>
					<!--Menu sidebar -->
					<script src="https://ampleadmin.wrappixel.com/dist/js/sidebarmenu.js"></script>
					<!--Custom JavaScript -->
					<script src="https://ampleadmin.wrappixel.com/dist/js/custom.min.js"></script>
					<!-- This Page JS -->
					<script src="https://ampleadmin.wrappixel.com/assets/libs/chartist/dist/chartist.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/dist/js/pages/chartist/chartist-plugin-tooltip.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/extra-libs/c3/d3.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/extra-libs/c3/c3.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/raphael/raphael.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/morris.js/morris.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/dist/js/pages/dashboards/dashboard1.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/moment/min/moment.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
					<script src="https://ampleadmin.wrappixel.com/dist/js/pages/calendar/cal-init.js"></script>
					<script>
						$('#calendar').fullCalendar('option', 'height', 650);
						
									{% endblock %}
								</body>
							</body>
						</html>