{% extends 'base.html.twig' %}

{% block title %}New AnalysisCategories{% endblock %}

{% block body %}
    <h1>Create new AnalysisCategories</h1>

    {{ include('analysis_categories/_form.html.twig') }}

    <a href="{{ path('analysis_categories_index') }}">back to list</a>
{% endblock %}
